# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Unit test / coverage reports
.coverage
.coverage.*
.cache
*.cover
.pytest_cache/

# Flask
instance/
.webassets-cache

# Jupyter
.ipynb_checkpoints

# Environments
.env
.venv

# pytype static type analyzer
.pytype/

# Ruff
.ruff_cache/

# Project files to ignore
**/requirements.txt
.attic/
PROMPT.md
TODO.md

