# Global Environment Variables

# Agent Service Configuration
OPENAI_API_KEY=openai-api-key
OPENAI_MODEL_NAME=gpt-4o-mini
OPENAI_ENCODING_MODDEL=text-embedding-ada-002

# Analysis Service Configuration

# Data Service Configuration

# Open BB Serivce Configuration

# Web Service Configuration
FLASK_ENV=development
SECRET_KEY=secret-key
