# Global Environment Variables

# Agent Service Configuration
OPENAI_API_KEY=openai-api-key
OPENAI_MODEL_NAME=gpt-4o-mini
OPENAI_ENCODING_MODDEL=text-embedding-ada-002

# Analysis Service Configuration

# Data Service Configuration

# Semantic Search Configuration
AZURE_AI_SEARCH_SERVICE_ENDPOINT=https://your-search-service.search.windows.net
AZURE_AI_SEARCH_ADMIN_KEY=your-admin-key
AZURE_AI_SEARCH_INDEX_NAME=investr-documents
AZURE_CLIENT_ID=your-client-id
AZURE_CLIENT_SECRET=your-client-secret
AZURE_TENANT_ID=your-tenant-id

# Open BB Serivce Configuration

# Print Service Configuration

# Web Service Configuration
FLASK_ENV=development
SECRET_KEY=secret-key
